@model NationalIT.Dispatchers
@{
    ViewBag.Title = "Dispatchers";
}
<div class="row-fluid">
    <div class="span12">
        <h3>
        @ViewBag.Title
        </h3>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)                    

            @Html.HiddenFor(model => model.ID)
                    
            <div class="control-group">
                <label class="control-label" for="Last_name">@Html.LabelFor(model => model.Last_name)</label>
                <div class="controls">
                    <div class="span12">
                        @Html.TextBoxFor(model => model.Last_name, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.Last_name)
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="First_name">@Html.LabelFor(model => model.First_name)</label>
                <div class="controls">
                    <div class="span12">
                        @Html.TextBoxFor(model => model.First_name, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.First_name)
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="SSN">@Html.LabelFor(model => model.SSN)</label>
                <div class="controls">
                    <div class="span12">
                        @Html.TextBoxFor(model => model.SSN, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.SSN)
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="DOB">@Html.LabelFor(model => model.DOB)</label>
                <div class="controls">
                    <div class="span12">
                        @Html.TextBoxFor(model => model.DOB, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.DOB)
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Hire_date">@Html.LabelFor(model => model.Hire_date)</label>
                <div class="controls">
                    <div class="span12">
                        @Html.TextBoxFor(model => model.Hire_date, new { @class = "input-xlarge date-picker" })
                        @Html.ValidationMessageFor(model => model.Hire_date)
                    </div>
                </div>
            </div>                    
            <div class="form-actions">
                <input type="submit" value="Save" class="btn btn-info" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
            </div>
        }
    </div>
</div>
