<div id="AjaxPaging" class="boxScroll">
    @model List<Alabama.Trip_Info>
    @*<script type="text/javascript">
        $(document).ready(function () {
            ajaxPagingByID("AjaxPaging");
        });
    </script>*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" name="TripCheckAll" value=" " class="DriverTripCheckAll" />
                </th>
                <th>
                    ID
                </th>
                <th>
                    Order_date
                </th>
                <th>
                    Pickup_date
                </th>
                <th>
                    Delivery_date
                </th>
                <th>
                    Pick_up_location
                </th>
                <th>
                    Delivery_location
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="DriverTripCheckItem" value="@item.Trip_ID" class="DriverTripCheckItem"/>
                    </td>
                    <td>
                        @Html.ActionLink(item.Trip_ID.ToString(), "NewOrEdit", new { id = item.Trip_ID })
                    </td>
                    <td>
                        @String.Format("{0:MM/dd/yyyy}", item.Order_date)
                    </td>
                    <td>
                        @String.Format("{0:MM/dd/yyyy}", item.Pickup_date)
                    </td>
                    <td>
                        @String.Format("{0:MM/dd/yyyy}", item.Delivery_date)
                    </td>
                    <td>
                        @item.Pick_up_location
                    </td>
                    <td>
                        @item.Delivery_location
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
