@model Webdiyer.WebControls.Mvc.PagedList<Alabama.Operating_Expenses>
@using Webdiyer.WebControls.Mvc;
<h3>
    Operating Expenses</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Type
            </th>
            <th>
                Amount
            </th>
            <th>
                Location
            </th>
            <th>
                Driver
            </th>
            <th>
                Description
            </th>
            <th>
                Paid_off
            </th>
            <th>
                Current_Payroll
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @String.Format("{0:g}", item.Date)
                </td>
                <td>
                    @item.Type
                </td>
                <td>
                    @String.Format("{0:F}", item.Amount)
                </td>
                <td>
                    @item.Location
                </td>
                <td>
                    @Html.Raw(item.Driver_Info != null ? item.Driver_Info.First_name : "")
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Paid_off
                </td>
                <td>
                    @item.Current_Payroll
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="text-align: center; margin-bottom: 10px; padding: 5px 10px; font-size: 13px;">
    @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "page", CurrentPagerItemWrapperFormatString = "<b>{0}</b>", CurrentPageNumberFormatString = "[{0}]", FirstPageText = "<<", LastPageText = ">>", NextPageText = ">", PrevPageText = "<" })
</div>
