@model Webdiyer.WebControls.Mvc.PagedList<Alabama.Driver_Info>
@using Webdiyer.WebControls.Mvc;
<h3>Driver Info</h3>
<p style="margin-left: 7px;">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info addNewItem" })
    @Html.ActionLink("Edit", "Edit", null, new { @class = "btn btn-info EditItem" })
    @Html.ActionLink("Delete", "Delete", null, new { @class = "btn btn-danger DeleteItem confirmDelete" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <input type="checkbox" name="" value="" class="checkAll" />
            </th>
            <th>
                ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Date Issued
            </th>
            <th>
                Active
            </th>
            <th>
                Drive Lic
            </th>
            <th>
                Owner
            </th>
            <th>
                Dispatcher
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="checkOwner" value="@item.ID" class="checkitem"/>
                </td>
                <td>
                    <a href="/FuelExpenses/Edit/@item.ID" style="color: #0072BC;">@item.ID</a>
                </td>
                <td>
                    @item.First_name
                </td>
                <td>
                    @item.Date_Issued
                </td>
                <td>
                    @item.Active
                </td>
                <td>
                    @item.Drive_Lic
                </td>
                <td>
                    @item.Owner
                </td>
                <td>
                    @Html.Raw(item.Dispatchers!= null ? item.Dispatchers.First_name : "")
                </td>
                @*<td>
                        <a href="/CreatedCard/Details/@item.CreatedCardID" style="color: #0072BC;">@item.CreatedCard.Note</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>
<div style="text-align: center; margin-bottom: 10px; padding: 5px 10px; font-size: 13px;">
@Html.Pager(Model, new PagerOptions { PageIndexParameterName = "page", CurrentPagerItemWrapperFormatString = "<b>{0}</b>", CurrentPageNumberFormatString = "[{0}]", FirstPageText = "<<", LastPageText = ">>", NextPageText = ">", PrevPageText = "<" })
