@model NationalIT.Equipment
@{
    ViewBag.Title = "NewOrEdit";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>NewOrEdit Equipment</h3>
            </div>
            <div class="box-content">
                <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
                <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.ValidationSummary(true)                    

                    @Html.HiddenFor(model => model.ID)
                    
                    <div class="control-group">
                        <label class="control-label" for="Equipment_Type">
                            Equipment Type</label>
                        <div class="controls">
                            <div class="span12">                                
                                <select data-placeholder="Select Driver" name="Equipment_Type" class="input-xlarge">
                                    <option value="TRUCK">TRUCK</option>
                                    <option value="TRAILER">TRAILER</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.Equipment_Type)
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="Equipment_number">
                            Equipment number</label>
                        <div class="controls">
                            <div class="span12">
                                @Html.TextBoxFor(model => model.Equipment_number, new { @class = "input-xlarge" })
                                @Html.ValidationMessageFor(model => model.Equipment_number)
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="Driver">
                            Driver</label>
                        <div class="controls">
                            <div class="span12">
                                <select data-placeholder="Select Driver" name="Driver" class="chosen-with-diselect input-xlarge">
                                    @Html.Raw(ViewBag.dataDriver)
                                </select>
                                @Html.ValidationMessageFor(model => model.Driver)
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="EQUIPMENT_VALUE">
                            EQUIPMENT VALUE</label>
                        <div class="controls">
                            <div class="span12">
                                @Html.TextBoxFor(model => model.EQUIPMENT_VALUE, new { @class = "input-xlarge" })
                                @Html.ValidationMessageFor(model => model.EQUIPMENT_VALUE)
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="DATE_LEASED">
                            DATE LEASED</label>
                        <div class="controls">
                            <div class="span12">
                                @Html.TextBoxFor(model => model.DATE_LEASED, new { @class = "input-xlarge" })
                                @Html.ValidationMessageFor(model => model.DATE_LEASED)
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="Inspection_Expiration">
                            Inspection Expiration</label>
                        <div class="controls">
                            <div class="span12">
                                @Html.TextBoxFor(model => model.Inspection_Expiration, new { @class = "input-xlarge date-picker" })
                                @Html.ValidationMessageFor(model => model.Inspection_Expiration)
                            </div>
                        </div>
                    </div> 
                    <div class="control-group">
                        <label class="control-label" for="MAKE">@Html.LabelFor(model => model.MAKE)</label>
                        <div class="controls">
                            <div class="span12">
                                @Html.TextBoxFor(model => model.MAKE, new { @class = "input-xlarge " })
                                @Html.ValidationMessageFor(model => model.MAKE)
                            </div>
                        </div>
                    </div>    
                    <div class="control-group">
                        <label class="control-label" for="MODEL_YEAR">
                            MODEL YEAR</label>
                        <div class="controls">
                            <div class="span12">
                                @Html.TextBoxFor(model => model.MODEL_YEAR, new { @class = "input-xlarge " })
                                @Html.ValidationMessageFor(model => model.MODEL_YEAR)
                            </div>
                        </div>
                    </div>     
                    <div class="control-group">
                        <label class="control-label" for="Owner">@Html.LabelFor(model => model.Owner)</label>
                        <div class="controls">
                            <div class="span12">
                                @Html.TextBoxFor(model => model.Owner, new { @class = "input-xlarge " })
                                @Html.ValidationMessageFor(model => model.Owner)
                            </div>
                        </div>
                    </div>   
                    <div class="control-group">
                        <label class="control-label" for="Registration_Expiration">
                            Registration Expiration</label>
                        <div class="controls">
                            <div class="span12">
                                @Html.TextBoxFor(model => model.Registration_Expiration, new { @class = "input-xlarge date-picker" })
                                @Html.ValidationMessageFor(model => model.Registration_Expiration)
                            </div>
                        </div>
                    </div>    
                    <div class="control-group">
                        <label class="control-label" for="VIN">@Html.LabelFor(model => model.VIN)</label>
                        <div class="controls">
                            <div class="span12">
                                @Html.TextBoxFor(model => model.VIN, new { @class = "input-xlarge" })
                                @Html.ValidationMessageFor(model => model.VIN)
                            </div>
                        </div>
                    </div>                    
                    <div class="form-actions">
                        <input type="submit" value="Save" class="btn btn-info" />
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>
