@model Webdiyer.WebControls.Mvc.PagedList<NationalIT.Customer_Info>
@using Webdiyer.WebControls.Mvc;
@{
    ViewBag.Title = "Customer Info";
}
<div class="row-fluid">
    <div class="span12">
        <h3>
            Customer Info</h3>
        <div class="row-fluid">
            <div class="span12">
                @Html.ActionLink("Create New", "NewOrEdit", null, new { @class = "btn btn-info addNewItem" })
                @Html.ActionLink("Edit", "NewOrEdit", null, new { @class = "btn btn-info EditItem" })
                @Html.ActionLink("Delete", "Delete", null, new { @class = "btn btn-danger DeleteItem confirmDelete" })
                <div class="row-fluid">
                    <div class="wrap-selectTripInfo">
                        <div class="span12">
                            Customer info
                            <select data-placeholder="Select Customer Info" name="Customer_Info" class="chosen-with-diselect input-xlarge selectDriverInfo">
                                @Html.Raw(ViewBag.dataCustomer_Info)
                            </select>
                        </div>
                        <div class="cleardiv">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrap-AjaxPaging">
            @Html.Partial("_IndexPartial", Model)
        </div>
    </div>
</div>