@using Webdiyer.WebControls.Mvc
@model PagedList<Alabama.Operating_Expenses>
<div class="row-fluid">
    <div class="span12">
        <h3>
            Operating Expenses</h3>
        <div class="row-fluid">
            <div class="span12">
                @Html.ActionLink("Create New", "NewOrEdit", null, new { @class = "btn btn-info addNewItem" })
                @Html.ActionLink("Edit", "NewOrEdit", null, new { @class = "btn btn-info EditItem" })
                @Html.ActionLink("Delete", "Delete", null, new { @class = "btn btn-danger DeleteItem confirmDelete" })
                <div class="row-fluid">
                    <div class="wrap-selectTripInfo">
                        <div class="span12">
                            Operating Expenses
                            <select data-placeholder="Select Split Expenses" name="Operating_Expenses" class="chosen-with-diselect input-xlarge selectDriverInfo">
                                @Html.Raw(ViewBag.dataOperating_Expenses)
                            </select>
                        </div>
                        <div class="cleardiv">
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div id="wrap-AjaxPaging">
            @Html.Partial("_IndexPartial", Model)
        </div>        
    </div>
</div>