<h5>@Html.ActionLink("Fuel Expenses", "Index", "FuelExpenses")</h5>
<div id="Fuel_ExpensesAmount" class="boxScroll">
    @model List<NationalIT.Temp_Fuel_Expenses>    
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" name="DriverFuel___ExpensesAll" value=" " class="DriverFuel___ExpensesAll" />
                </th>
               @* <th>
                    Date
                </th>*@
                <th>
                    Type
                </th>
                <th>
                    Amount
                </th>
                <th>
                    AmountN
                </th>
                @*<th>
                    Location
                </th>
                <th>
                    Driver
                </th>*@
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>
                        <input type="checkbox" name="DriverFuel___ExpensesItem" value="@(item.Amount.HasValue?item.Amount.Value:0)"  getID="@item.ID" class="DriverFuel___ExpensesItem" />
                    </td>
                    @*<td>
                        @(item.Date.HasValue?item.Date.Value.ToString("MM/dd/yyyy"):"")
                    </td>*@
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.Amount
                    </td>
                    <td>
                        @item.AmountN
                    </td>
                    @*<td>
                        @item.Location
                    </td>
                    <td>
                        @Html.Raw(item.Driver_Info != null ? item.Driver_Info.First_name : "")
                    </td>*@
                </tr>
                }
            }
        </tbody>
    </table>    
</div>
