<h5>@Html.ActionLink("Trips", "Index", "TripInfo")</h5>
<div id="TripAmountTable" class="boxScroll">
    @model List<NationalIT.Temp_Trip_Info>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" name="TripCheckAll" value=" " class="DriverTripCheckAll" />
                </th>
                <th>
                    Address
                </th>
                <th>
                    Order_date
                </th>
                <th>
                    Pickup_date
                </th>
                <th>
                    Delivery_date
                </th>
                <th>
                    Total_charges
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>
                        <input type="checkbox" name="DriverTripCheckItem" value="@item.Total_charges" getID="@item.ID" class="DriverTripCheckItem"/>
                    </td>
                    <td>
                        @item.Address
                    </td>
                    <td>
                        @(item.Order_date.HasValue ? item.Order_date.Value.ToString("MM/dd/yyyy") : "")
                    </td>
                    <td>
                        @String.Format("{0:MM/dd/yyyy}", item.Pickup_date)
                    </td>
                    <td>
                        @(item.Delivery_date.HasValue ? item.Delivery_date.Value.ToString("MM/dd/yyyy") : "")
                    </td>
                    <td>
                        @String.Format("{0:C}", item.Total_charges)
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>
