@model IEnumerable<Alabama.Customer_Info>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            ZIP_Code
        </th>
        <th>
            Phone
        </th>
        <th>
            Fax
        </th>
        <th>
            Contact
        </th>
        <th>
            Comments
        </th>
        <th>
            Days_to_pay
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
        <td>
            @item.City
        </td>
        <td>
            @item.State
        </td>
        <td>
            @item.ZIP_Code
        </td>
        <td>
            @item.Phone
        </td>
        <td>
            @item.Fax
        </td>
        <td>
            @item.Contact
        </td>
        <td>
            @item.Comments
        </td>
        <td>
            @item.Days_to_pay
        </td>
    </tr>
}

</table>

