@model NationalIT.Fuel___Expenses
@{
    ViewBag.Title = "Edit";
}
<h2>
    Edit</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Fuel___Expenses</legend>
        @Html.HiddenFor(model => model.ID)
        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            <select name="cboType" class="span2">
            @Html.Raw(ViewBag.Type)
            </select>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.AmountN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AmountN)
            @Html.ValidationMessageFor(model => model.AmountN)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Driver)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Driver_Info.ID, (SelectList)ViewBag.Driver)
            @Html.ValidationMessageFor(model => model.Driver)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Paid_off)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Paid_off)
            @Html.ValidationMessageFor(model => model.Paid_off)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Current_Payroll)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Current_Payroll)
            @Html.ValidationMessageFor(model => model.Current_Payroll)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.fee_charged)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fee_charged)
            @Html.ValidationMessageFor(model => model.fee_charged)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Fuel_Card)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fuel_Card)
            @Html.ValidationMessageFor(model => model.Fuel_Card)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
