@model IEnumerable<Alabama.CreatedCard>
<h2>
    Lịch sử tạo thẻ</h2>
<p style="margin-left: 7px;">
    <img src="/Content/img/add.png" width="14" height="14" style="padding-bottom: 2px;" />
    @Html.ActionLink(" Tạo thẻ cào", "Create", "CreatedCard", null, new { @class = "btnThemMoi" })
</p>
<table class="table">
    <thead>
        <tr class="table-flag-blue">
            <th style="width: 18px">
                <input type="checkbox" />
            </th>
            <th>
                Title
            </th>
            <th>
                Người tạo
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Mệnh giá
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Ngày phát hành
            </th>
            <th>
                Hạn sử dụng
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" />
                </td>
                <td>
                    @Html.ActionLink(string.IsNullOrEmpty(item.Note) ? " " : item.Note, "Details", new { id = item.ID })
                    @*<a href="/Card/Index/@item.ID" style="color: #0072BC;">@item.Note</a>*@
                </td>
                <td>
                    @item.User.UserName
                </td>
                <td>
                    @*@item.Amount*@ <a href="/Card/Index?createdCardID=@item.ID" style="color: #0072BC;">@item.Amount</a>
                </td>
                <td>
                    @item.PriceLevel
                </td>
                <td>
                    @String.Format("{0:g}", item.DateCreate)
                </td>
                <td>
                    @String.Format("{0:g}", item.DateRelease)
                </td>
                <td>
                    @String.Format("{0:g}", item.DateExpire)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) | *@
                    @Html.ActionLink("Download", "Download", new { id = item.ID }) |
                    @Html.ActionLink("Release", "Release", new { id = item.ID })
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                </td>
            </tr>
        }
    </tbody>
</table>
