@{
    Layout = null;
}
<html>
<head>
    <style type="text/css">
        body
        {
            font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
            font-size: 14px;
        }
        #box-content
        {
            margin: 0 auto;
            padding: 20px 10px 10px 10px;
        }
        .error
        {
            color: Red;
            font-size: 1.2em;
        }
    </style>
</head>
<body>
    <div ID="box-content" style="width:@(ViewBag.Width)px;">
        <p>@ViewBag.Content</p>
        <a href="http://google.com.vn">
            <img src="@ViewBag.ImageUrl" width="@ViewBag.Width" height="@ViewBag.Height"/></a>
        <br />
        <br />
        <span class="error">@ViewBag.Thanks</span>
    </div>
</body>
</html>
