@model Alabama.BuuKien
<link rel="stylesheet" type="text/css" href="/Content/assets/bootstrap-datepicker/css/datepicker.css" />
<script type="text/javascript" src="/Content/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.date-picker1').datepicker({ language: "vi", format: "dd/mm/yyyy" }).on('changeDate', function (ev) {
            $('.date-picker1').datepicker('hide');
        });
        $("#KhachHangID").change(function () {
            var $this = $(this);
            var id = $this.val();
            $.ajax({
                type: "post",
                url: "/BuuKien/GetKhachHang",
                data: "id=" + id,
                success: function (kq) {
                    $("#NguoiGui").val(kq.name);
                    $("#DiaChiNguoiGui").val(kq.address);
                }
            });
            //            $.getJSON('/BuuKien/GetKhachHang/' + id, function (data) {
            //                
            //            });
        });
    });
</script>
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>Nhận bưu kiện</h3>
            </div>
            <div class="box-content">
                @Html.ValidationSummary(true, "Nhận bưu kiện không thành công")
                @using (Html.BeginForm("Create", "BuuKien", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div>
                    <div class="control-group">
                            <label class="control-label">
                                Mã bưu kiện</label>
                            <div class="controls">
                                <input type="text" name="MaBuuKien" value="@(ViewBag.MaBuuKien)" readonly="readonly" style="color: red;"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Tên bưu kiện</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.TenBuuKien)
                            </div>
                        </div>                        
                        @*<div class="control-group">
                            <label class="control-label">
                                Ngày nhận</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.NgayNhan, new { @class = "date-picker1", size = "16" })
                            </div>
                        </div>*@
                        @*<div class="control-group">
                            <label class="control-label">
                                Ngày gửi</label>
                            <div class="controls">
                                @Html.TextBox("NgayGui", Model.NgayGui.ToString("dd/MM/yyyy"), new { @class = "date-picker1", size = "16" })
                            </div>
                        </div>*@
                        <div class="control-group">
                            <label class="control-label">
                                Khách hàng</label>
                            <div class="controls">
                                @Html.DropDownListFor(m => m.KhachHangID, (SelectList)ViewBag.SelectListKhachHang)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Người gửi</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.NguoiGui)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Địa chỉ người gửi</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.DiaChiNguoiGui)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Người nhận</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.NguoiNhan)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Địa chỉ người nhận</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.DiaChiNguoiNhan)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Loại hàng</label>
                            <div class="controls">
                                @Html.DropDownListFor(m => m.LoaiHangID, (SelectList)ViewBag.SelectListLoaiHang)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Đường gửi</label>
                            <div class="controls">
                                @Html.DropDownListFor(m => m.CuocPhiID, (SelectList)ViewBag.SelectListBuuCuc)
                            </div>
                        </div>
                            <div class="control-group">
                            <label class="control-label">
                                Dịch vụ cộng thêm</label>
                            <div class="controls">
                                @Html.DropDownListFor(m => m.DichVuCongThemID, (SelectList)ViewBag.SelectListDichVuCongThem)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Khối lượng (Kg)</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.KhoiLuong)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                Ghi chú</label>
                            <div class="controls">
                                @Html.TextAreaFor(m => m.GhiChu, new {rows="5",cols="300"})
                            </div>
                        </div>
                        @*<div class="control-group">
                            <label class="control-label">
                                Bưu cục trả</label>
                            <div class="controls">
                                @Html.DropDownListFor(m => m.BuuCucTraID, (SelectList)ViewBag.SelectListBuuCuc)
                            </div>
                        </div>*@
                        <div class="controls">
                            <input type="submit" value="Nhận bưu kiện" class="btn btn-primary" />
                            <button type="button" class="btn" onclick="javascript:window.history.go(-1);">
                                Hủy</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
