@using Webdiyer.WebControls.Mvc
@model PagedList<Alabama.Trip_Info>
<div class="row-fluid">
    <div class="span12">
        <h3>
            Trip Info</h3>
        <div class="row-fluid">
            <div class="span12">
                @Html.ActionLink("Create New", "NewOrEdit", null, new { @class = "btn btn-info addNewItem" })
                @Html.ActionLink("Edit", "NewOrEdit", null, new { @class = "btn btn-info EditItem" })
                @Html.ActionLink("Delete", "Delete", null, new { @class = "btn btn-danger DeleteItem confirmDelete" })
                <div class="row-fluid">
                    <div class="wrap-selectTripInfo">
                        <div class="span6">
                            Invoice
                            <select data-placeholder="Select Invoice" name="Invoice" class="chosen-with-diselect input-xlarge selectTripInfo">
                                @Html.Raw(ViewBag.dataTripInfo)
                            </select>
                        </div>
                        <div class="span6">
                            Driver info
                            <select data-placeholder="Select DriverInfo" name="Driver_Info" class="chosen-with-diselect input-xlarge selectDriverInfo">
                                @Html.Raw(ViewBag.dataDriver_Info)
                            </select>
                        </div>
                        <div class="cleardiv">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrap-AjaxPaging">
            @Html.Partial("_IndexPartial", Model)
        </div>
    </div>
</div>
