@model Alabama.Trip_Info
@{
    ViewBag.Title = "NewOrEdit";
}
<div class="row-fluid">
    <div class="span12">
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)                    

            @Html.HiddenFor(model => model.Trip_ID)
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label for="Customer">
                            Customer</label>
                        @Html.TextBoxFor(model => model.Customer, new { @class = "input-xxlarge" })
                        @Html.ValidationMessageFor(model => model.Customer)
                        <a href="#" class="btn btn-info">Customer info</a> <a href="#" class="btn btn-info">Select By Invoice</a>
                    </div>
                </div>
            </div> 
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label for="Address">
                            Address</label>
                        @Html.TextBoxFor(model => model.Address, new { @class = "input-xxlarge" })
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <div class="control-group">
                        <label for="Order_date">
                            Order_date</label>
                        @Html.TextBoxFor(model => model.Order_date, new { @class = "input-xlarge date-picker" })
                        @Html.ValidationMessageFor(model => model.Order_date)
                    </div>
                    <div class="control-group">
                        <label for="PO_">
                            PO#</label>
                        @Html.TextBoxFor(model => model.PO_, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.PO_)
                    </div>
                    <div class="control-group">
                        <label for="Pick_up_location">
                            Pick up location</label>
                        @Html.TextBoxFor(model => model.Pick_up_location, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.Pick_up_location)
                    </div>
                    <div class="control-group">
                        <label for="Delivery_location">
                            Delivery location</label>
                        @Html.TextBoxFor(model => model.Delivery_location, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.Delivery_location)
                    </div>
                    <div class="control-group">
                        <label for="Extra_stops">
                            Extra_stops</label>
                        @Html.TextBoxFor(model => model.Extra_stops, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.Extra_stops)
                    </div>
                    <div class="control-group">
                        <label for="Dispatcher">
                            Dispatcher</label>
                        @Html.TextBoxFor(model => model.Dispatcher, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.Dispatcher)
                    </div>
                    <div class="control-group">
                        <label for="Driver">
                            Driver</label>
                        @Html.TextBoxFor(model => model.Driver, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.Driver)
                    </div>
                </div>
                <div class="span4">
                    <div class="control-group">
                        <label for="Pickup_date">
                            Pickup_date</label>
                        @Html.TextBoxFor(model => model.Pickup_date, new { @class = "input-xlarge date-picker" })
                        @Html.ValidationMessageFor(model => model.Pickup_date)
                    </div>
                    <div class="control-group">
                        <label for="Loaded_miles">
                            Loaded_miles</label>
                        @Html.TextBoxFor(model => model.Loaded_miles, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.Loaded_miles)
                    </div>
                    <div class="control-group">
                        <label for="Dead_head_miles">
                            Dead_head_miles</label>
                        @Html.TextBoxFor(model => model.Dead_head_miles, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.Dead_head_miles)
                    </div>
                    <div class="control-group">
                        <label for="Comfirmed_Rate">
                            Comfirmed_Rate</label>
                        @Html.TextBoxFor(model => model.Comfirmed_Rate, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.Comfirmed_Rate)
                    </div>
                    <div class="control-group">
                        <label for="Extra_charges">
                            Lumner &Extra charges</label>
                        @Html.TextBoxFor(model => model.Extra_charges, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.Extra_charges)
                    </div>
                    <div class="control-group">
                        <label for="Detention_pay">
                            Detention pay</label>
                        @Html.TextBoxFor(model => model.Detention_pay, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.Detention_pay)
                    </div>
                    <div class="control-group">
                        <label for="Equipment_ID">
                            Equipment</label>
                        @Html.TextBoxFor(model => model.Equipment_ID, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.Equipment_ID)
                    </div>
                </div>
                <div class="span4">
                    <div class="control-group">
                        <label for="Delivery_date">
                            Delivery_date</label>
                        @Html.TextBoxFor(model => model.Delivery_date, new { @class = "input-xlarge date-picker" })
                        @Html.ValidationMessageFor(model => model.Delivery_date)
                    </div>
                    <div class="control-group">
                        <label for="Total_charges">
                            Total_charges</label>
                        @Html.TextBoxFor(model => model.Total_charges, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.Total_charges)
                    </div>
                    <div class="control-group">
                        <label for="Total_charges">
                            Chargebacks</label>
                        <input type="text" name="Chargebacks" value=" " class="input-xlarge" />
                    </div>
                    <div class="control-group">
                        <label for="Picked" class="checkbox">
                            Picked
                            @Html.CheckBoxFor(model => model.Picked.Value, new { @class = "input-xlarge" })</label>
                        @Html.ValidationMessageFor(model => model.Picked)
                    </div>
                    <div class="control-group">
                        <label for="Deliverd" class="checkbox">
                            Deliverd
                            @Html.CheckBoxFor(model => model.Deliverd.Value, new { @class = "input-xlarge" })</label>
                        @Html.ValidationMessageFor(model => model.Deliverd)
                    </div>
                    <div class="control-group">
                        <label for="Invoice">
                            Invoice</label>
                        @Html.TextBoxFor(model => model.Invoice, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(model => model.Invoice)
                    </div>
                    <div class="control-group">
                        <label for="Customer_Invoiced" class="checkbox">
                            Customer_Invoiced
                            @Html.CheckBoxFor(model => model.Customer_Invoiced.Value, new { @class = "input-xlarge" })</label>
                        @Html.ValidationMessageFor(model => model.Customer_Invoiced)
                    </div>
                    <div class="control-group">
                        <label for="Current_Payroll" class="checkbox">
                            Current_Payroll
                            @Html.CheckBoxFor(model => model.Current_Payroll.Value, new { @class = "input-xlarge" })</label>
                        @Html.ValidationMessageFor(model => model.Current_Payroll)
                    </div>
                    <div class="control-group">
                        <label for="Driver_paid" class="checkbox">
                            Driver_paid
                            @Html.CheckBoxFor(model => model.Driver_paid.Value, new { @class = "input-xlarge" })
                        </label>
                        @Html.ValidationMessageFor(model => model.Driver_paid)
                    </div>
                    <div class="control-group">
                        <label for="Customer_Invoiced_date">
                            Customer_Invoiced_date</label>
                        @Html.TextBoxFor(model => model.Customer_Invoiced_date, new { @class = "input-xlarge date-picker" })
                        @Html.ValidationMessageFor(model => model.Customer_Invoiced_date)
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <label for="Comment">
                            Comment</label>
                        @Html.TextAreaFor(model => model.Comment, new { @class = "input-xxlarge", rows = "5" })
                        @Html.ValidationMessageFor(model => model.Comment)
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <input type="submit" value="Save" class="btn btn-info" />
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
                </div>
            </div>           
        }
    </div>
</div>
