@model Webdiyer.WebControls.Mvc.PagedList<Alabama.Card>
@using Webdiyer.WebControls.Mvc;
<h3>
    Danh sách thẻ cào</h3>
<p style="margin-left: 7px;">
    <img src="/Content/img/add.png" width="14" height="14" style="padding-bottom: 2px;" />
    @Html.ActionLink(" Tạo thẻ cào", "Create", "CreatedCard", null, new { @class = "btnThemMoi" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                Serial
            </th>
            <th>
                CardChar
            </th>
            @*<th>
                    Lần phát hành
                </th>*@
            <th>
                Trạng thái
            </th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;}
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @item.Serial
                </td>
                <td>
                    @item.CardChar
                </td>
                @*<td>
                        <a href="/CreatedCard/Details/@item.CreatedCardID" style="color: #0072BC;">@item.CreatedCard.Note</a>
                    </td>*@
                <td>
                    @item.CardStatus.Title
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="text-align: center; margin-bottom: 10px; padding: 5px 10px; font-size: 13px;">
@Html.Pager(Model, new PagerOptions { PageIndexParameterName = "page", CurrentPagerItemWrapperFormatString = "<b>{0}</b>", CurrentPageNumberFormatString = "[{0}]", FirstPageText = "<<", LastPageText = ">>", NextPageText = ">", PrevPageText = "<" })
