@model Alabama.Card
<legend>Card</legend>
<div class="display-label">
    Serial</div>
<div class="display-field">@Model.Serial</div>
<div class="display-label">
    CardChar</div>
<div class="display-field">@Model.CardChar</div>
<div class="display-label">
    CreatedCardID</div>
<div class="display-field">@Model.CreatedCardID</div>
<div class="display-label">
    CardStatusID</div>
<div class="display-field">@Model.CardStatusID</div>
<div class="display-label">
    HandOverCardID</div>
<div class="display-field">@Model.HandOverCardID</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
