<div id="AjaxPaging">
    @model Webdiyer.WebControls.Mvc.PagedList<NationalIT.Driver_Info>
@using Webdiyer.WebControls.Mvc;
    <script type="text/javascript">
        $(document).ready(function () {
            ajaxPagingByID("AjaxPaging");
        });
    </script>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" name="" value="" class="checkAll" />
                </th>
                <th>
                    ID
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Expiration_Date
                </th>
                <th>
                    Active
                </th>
                <th>
                    Drive Lic
                </th>
                <th>
                    Owner
                </th>
                <th>
                    Dispatcher
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="checkOwner" value="@item.ID" class="checkitem"/>
                    </td>
                    <td>
                        <a href="/DriverInfo/NewOrEdit/@item.ID" >@item.ID</a>
                    </td>
                    <td>
                        <a href="/DriverInfo/NewOrEdit/@item.ID" >@item.Last_name @item.First_name</a>
                    </td>
                    <td>
                        @item.Expiration_Date.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @NationalIT.CommonFunction.getYesNO(item.Active)
                    </td>
                    <td>
                        @item.Drive_Lic
                    </td>
                    <td>
                         @NationalIT.CommonFunction.getYesNO(item.Owner)
                    </td>
                    <td>
                        @Html.Raw(item.Dispatchers != null ? item.Dispatchers.First_name : "")
                    </td>
                    @*<td>
                        <a href="/CreatedCard/Details/@item.CreatedCardID" style="color: #0072BC;">@item.CreatedCard.Note</a>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
    <div class="row-fluid">
        <div class="span4">
            <div class="dataTables_info">
                @if (Model.TotalItemCount > 0)
                {
                    if (Model.TotalItemCount < Model.PageSize)
                    {
                    <span>1 </span>
                    <span>- </span>@Model.TotalItemCount
                    }
                    else
                    {
                    <span></span>@((Model.CurrentPageIndex - 1) * Model.PageSize + 1)
                    <span>- </span>@((Model.CurrentPageIndex != Model.TotalPageCount) ? (Model.CurrentPageIndex * Model.PageSize) : Math.Abs((Model.CurrentPageIndex) * Model.PageSize - (Model.PageSize * Model.TotalPageCount) - Model.TotalItemCount))
                    }
                    <span>of </span>@(Model.TotalItemCount)                            
                }
            </div>
        </div>
        <div class="span8">
            <div class="dataTables_paginate paging_bootstrap pagination phantrangmvcpager">
                @Html.AjaxPager(Model, new PagerOptions { ContainerTagName = "ul", PageIndexParameterName = "page", CurrentPagerItemWrapperFormatString = "<li class='active'>{0}</li>", CurrentPageNumberFormatString = "{0}", FirstPageText = "&laquo; ", LastPageText = " &raquo;", NextPageText = "Next →", PrevPageText = "← Prev", SeparatorHtml = "" }, new AjaxOptions { UpdateTargetId = "AjaxPaging" })
            </div>
        </div>
    </div>
</div>
