@model List<NationalIT.split_expenses>
<div id="OwnerExpensesSplit" class="boxScroll">
    <table class="table">
        <tr>
            <th>
                <input type="checkbox" name="SplitcheckAll" value="" class="SplitcheckAll" />
            </th>
            <th>
                ID
            </th>
            <th>
                OwnerDriver
            </th>            
            <th>
                Expenses
            </th>
            <th>
                Amount
            </th>            
            <th>
                Date
            </th>
            <th>
                Fee Charged
            </th>
            <th>
                Current Payroll
            </th>
            <th>
                Paid Off
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="checkOwner" value="@item.Amount" getID="@item.Id" class="Splitcheckitem"/>
                </td>
                <td>
                    @Html.ActionLink(item.Id.ToString(), "NewOrEdit", new { id = item.Id })
                </td>
                <td>
                    @item.OwnerDriver
                </td>               
                <td>
                    @item.Expenses
                </td>
                <td>
                    @String.Format("{0:C}", item.Amount)
                </td>                
                <td>
                    @(item.Date.HasValue?item.Date.Value.ToString("MM/dd/yyyy"):"")
                </td>
                <td>
                    @NationalIT.CommonFunction.getYesNO(item.Fee_Charged)
                </td>
                <td>
                    @NationalIT.CommonFunction.getYesNO(item.Current_Payroll)
                </td>
                <td>
                    @NationalIT.CommonFunction.getYesNO(item.Paid_Off)
                </td>
            </tr>
        }
    </table>
</div>
