@model System.Reflection.PropertyInfo[]
@{
    ViewBag.Title = "Index1";
}
<h2>
    Index1</h2>
@foreach (var item in Model)
{
    <div class="control-group">
        <label for="@item.Name">
            Html.LabelFor(model => model.@(item.Name))</label>
        Html.TextBoxFor(model => model.@(item.Name), new { X_Xclass = "input-xlarge" })
        Html.ValidationMessageFor(model => model.@(item.Name))
    </div>
}
<div class="control-group">
    <label for="ID">
        @Html.LabelFor(model => model.ID)</label>
    @Html.TextBoxFor(model => model.ID, new { @class = "input-xlarge" }) @Html.ValidationMessageFor(model
    => model.ID)
</div>
<div class="control-group">
    <label for="Employee_ID">
        @Html.LabelFor(model => model.Employee_ID)</label>
    @Html.TextBoxFor(model => model.Employee_ID, new { @class = "input-xlarge" })
    @Html.ValidationMessageFor(model => model.Employee_ID)
</div>
<div class="control-group">
    <label for="Last_name">
        @Html.LabelFor(model => model.Last_name)</label>
    @Html.TextBoxFor(model => model.Last_name, new { @class = "input-xlarge" })
    @Html.ValidationMessageFor(model => model.Last_name)
</div>
<div class="control-group">
    <label for="First_name">
        @Html.LabelFor(model => model.First_name)</label>
    @Html.TextBoxFor(model => model.First_name, new { @class = "input-xlarge" })
    @Html.ValidationMessageFor(model => model.First_name)
</div>
<div class="control-group">
    <label for="Middle_in">
        @Html.LabelFor(model => model.Middle_in)</label>
    @Html.TextBoxFor(model => model.Middle_in, new { @class = "input-xlarge" })
    @Html.ValidationMessageFor(model => model.Middle_in)
</div>
<div class="control-group">
    <label for="SSN">
        @Html.LabelFor(model => model.SSN)</label>
    @Html.TextBoxFor(model => model.SSN, new { @class = "input-xlarge" }) @Html.ValidationMessageFor(model
    => model.SSN)
</div>
<div class="control-group">
    <label for="Drive_Lic">
        @Html.LabelFor(model => model.Drive_Lic)</label>
    @Html.TextBoxFor(model => model.Drive_Lic, new { @class = "input-xlarge" })
    @Html.ValidationMessageFor(model => model.Drive_Lic)
</div>
<div class="control-group">
    <label for="State">
        @Html.LabelFor(model => model.State)</label>
    @Html.TextBoxFor(model => model.State, new { @class = "input-xlarge" }) @Html.ValidationMessageFor(model
    => model.State)
</div>
<div class="control-group">
    <label for="Expiration_Date">
        @Html.LabelFor(model => model.Expiration_Date)</label>
    @Html.TextBoxFor(model => model.Expiration_Date, new { @class = "input-xlarge"
    }) @Html.ValidationMessageFor(model => model.Expiration_Date)
</div>
<div class="control-group">
    <label for="Date_Issued">
        @Html.LabelFor(model => model.Date_Issued)</label>
    @Html.TextBoxFor(model => model.Date_Issued, new { @class = "input-xlarge" })
    @Html.ValidationMessageFor(model => model.Date_Issued)
</div>
<div class="control-group">
    <label for="HazMat">
        @Html.LabelFor(model => model.HazMat)</label>
    @Html.TextBoxFor(model => model.HazMat, new { @class = "input-xlarge" }) @Html.ValidationMessageFor(model
    => model.HazMat)
</div>
<div class="control-group">
    <label for="Pay_rate">
        @Html.LabelFor(model => model.Pay_rate)</label>
    @Html.TextBoxFor(model => model.Pay_rate, new { @class = "input-xlarge" }) @Html.ValidationMessageFor(model
    => model.Pay_rate)
</div>
<div class="control-group">
    <label for="Comments">
        @Html.LabelFor(model => model.Comments)</label>
    @Html.TextBoxFor(model => model.Comments, new { @class = "input-xlarge" }) @Html.ValidationMessageFor(model
    => model.Comments)
</div>
<div class="control-group">
    <label for="Truck">
        @Html.LabelFor(model => model.Truck)</label>
    @Html.TextBoxFor(model => model.Truck, new { @class = "input-xlarge" }) @Html.ValidationMessageFor(model
    => model.Truck)
</div>
<div class="control-group">
    <label for="Trailer">
        @Html.LabelFor(model => model.Trailer)</label>
    @Html.TextBoxFor(model => model.Trailer, new { @class = "input-xlarge" }) @Html.ValidationMessageFor(model
    => model.Trailer)
</div>
<div class="control-group">
    <label for="Phone">
        @Html.LabelFor(model => model.Phone)</label>
    @Html.TextBoxFor(model => model.Phone, new { @class = "input-xlarge" }) @Html.ValidationMessageFor(model
    => model.Phone)
</div>
<div class="control-group">
    <label for="Address">
        @Html.LabelFor(model => model.Address)</label>
    @Html.TextBoxFor(model => model.Address, new { @class = "input-xlarge" }) @Html.ValidationMessageFor(model
    => model.Address)
</div>
<div class="control-group">
    <label for="Fuel_Card">
        @Html.LabelFor(model => model.Fuel_Card)</label>
    @Html.TextBoxFor(model => model.Fuel_Card, new { @class = "input-xlarge" })
    @Html.ValidationMessageFor(model => model.Fuel_Card)
</div>
<div class="control-group">
    <label for="fuel___advance_Fee_rate">
        @Html.LabelFor(model => model.fuel___advance_Fee_rate)</label>
    @Html.TextBoxFor(model => model.fuel___advance_Fee_rate, new { @class = "input-xlarge"
    }) @Html.ValidationMessageFor(model => model.fuel___advance_Fee_rate)
</div>
<div class="control-group">
    <label for="Dispatcher">
        @Html.LabelFor(model => model.Dispatcher)</label>
    @Html.TextBoxFor(model => model.Dispatcher, new { @class = "input-xlarge" })
    @Html.ValidationMessageFor(model => model.Dispatcher)
</div>
<div class="control-group">
    <label for="Active">
        @Html.LabelFor(model => model.Active)</label>
    @Html.TextBoxFor(model => model.Active, new { @class = "input-xlarge" }) @Html.ValidationMessageFor(model
    => model.Active)
</div>
<div class="control-group">
    <label for="Owner">
        @Html.LabelFor(model => model.Owner)</label>
    @Html.TextBoxFor(model => model.Owner, new { @class = "input-xlarge" }) @Html.ValidationMessageFor(model
    => model.Owner)
</div>
<div class="control-group">
    <label for="Owner_Pay_Rate">
        @Html.LabelFor(model => model.Owner_Pay_Rate)</label>
    @Html.TextBoxFor(model => model.Owner_Pay_Rate, new { @class = "input-xlarge"
    }) @Html.ValidationMessageFor(model => model.Owner_Pay_Rate)
</div>
<div class="control-group">
    <label for="Owner_Name">
        @Html.LabelFor(model => model.Owner_Name)</label>
    @Html.TextBoxFor(model => model.Owner_Name, new { @class = "input-xlarge" })
    @Html.ValidationMessageFor(model => model.Owner_Name)
</div>
<div class="control-group">
    <label for="Dispatchers">
        @Html.LabelFor(model => model.Dispatchers)</label>
    @Html.TextBoxFor(model => model.Dispatchers, new { @class = "input-xlarge" })
    @Html.ValidationMessageFor(model => model.Dispatchers)
</div>
<div class="control-group">
    <label for="DispatchersReference">
        @Html.LabelFor(model => model.DispatchersReference)</label>
    @Html.TextBoxFor(model => model.DispatchersReference, new { @class = "input-xlarge"
    }) @Html.ValidationMessageFor(model => model.DispatchersReference)
</div>
<div class="control-group">
    <label for="Owners">
        @Html.LabelFor(model => model.Owners)</label>
    @Html.TextBoxFor(model => model.Owners, new { @class = "input-xlarge" }) @Html.ValidationMessageFor(model
    => model.Owners)
</div>
<div class="control-group">
    <label for="OwnersReference">
        @Html.LabelFor(model => model.OwnersReference)</label>
    @Html.TextBoxFor(model => model.OwnersReference, new { @class = "input-xlarge"
    }) @Html.ValidationMessageFor(model => model.OwnersReference)
</div>
<div class="control-group">
    <label for="Fuel___Expenses">
        @Html.LabelFor(model => model.Fuel___Expenses)</label>
    @Html.TextBoxFor(model => model.Fuel___Expenses, new { @class = "input-xlarge"
    }) @Html.ValidationMessageFor(model => model.Fuel___Expenses)
</div>
<div class="control-group">
    <label for="Operating_Expenses">
        @Html.LabelFor(model => model.Operating_Expenses)</label>
    @Html.TextBoxFor(model => model.Operating_Expenses, new { @class = "input-xlarge"
    }) @Html.ValidationMessageFor(model => model.Operating_Expenses)
</div>
<div class="control-group">
    <label for="Trip_Info">
        @Html.LabelFor(model => model.Trip_Info)</label>
    @Html.TextBoxFor(model => model.Trip_Info, new { @class = "input-xlarge" })
    @Html.ValidationMessageFor(model => model.Trip_Info)
</div>
