@model NationalIT.TempReport
@using Webdiyer.WebControls.Mvc;
@{
    ViewBag.Title = "Driver's Payrolls";
}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <a href="/Reports/Payroll.aspx?tempreport=@(Model!=null?Model.ID:0)" target="_blank" class="btn btn-info btnRePrint">RePrint</a> <a href="@Url.Action("RollBack", "DriverInfo", new { driverID = ViewBag.driverID })" class="btn btn-info btnRollBack">
                RollBack</a> <a href="@Url.Action("NewOrEdit", "DriverInfo", new { id = ViewBag.driverID })" class="btn">Back</a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <select data-placeholder="Select Date" name="Date" class="chosen-with-diselect-date input-xlarge">
                @Html.Raw(ViewBag.dataDate)
            </select>
            @Html.Hidden("driverID", (int)ViewBag.driverID)
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 wrap-ALlPartial">
            @Html.Partial("_IndexUndoPayrollPartial", Model)
        </div>
    </div>
</div>
